spring-mvc-board/.idea/sonarlint
spring-board-jdbc/.idea/sonarlint
board/spring-board-jpa/.idea/sonarlint
board/spring-board-jdbc/.idea/sonarlint
board/spring-board-jpa/.idea/sonarlint
family-certification/.idea/sonarlint
