<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>student - list</title>
</head>

<body>
    <th:block th:insert="~{login/loginInfo :: userinfo}" ></th:block>
    <h1>게시판</h1>
    <p><a href="/post/register" >게시글(등록)</a></p>
    <table border =1>
        <caption></caption>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${postList}" >
                <td th:text="${item.id}"></td>
                <td><a th:href = "@{/post/view(id=${item.id})}" th:text = "${item.title}"></a></td>
                <td><a th:href = "@{/user/view(id=${item.writerUserId})}"  th:text="${item.writerUserId}"/></td>
                <td th:text="${item.viewCount}"></td>
            </tr>
        </tbody>
    </table>
    <li>
        <a th:if="${not #strings.isEmpty(prePage)}"
           th:href="@{/post(page=${prePage})}" th:text="${prePage}"/>
    </li>
    <li>
        <a th:if="${not #strings.isEmpty(nextPage)}"
           th:href="@{/post(page=${nextPage})}" th:text="${nextPage}"/>
    </li>
</body>
</html>
